@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

:root {
    --cinza: #7E8492;
    --azul: #0258F8;
    --fonte1r: 1rem;
}

.headerTop {
    background-color: var(--azul);
    color: #fff;
    font-size: 0.75rem;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: center;
    margin-bottom: 0.6%;
}

.headerImg {
    display: flex;
    padding-left: 5%;
}

.expansiveMenuIcon {
    margin-left: 55%;
    margin-top: 3.5%;
}

.section-margin {
    padding: 0%;
    margin-left: 5%;
    margin-right: 2.5%;
}

.mainTittle {
    padding-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 205%;
}

.pGray {
    color: var(--cinza);
    font-size: var(--fonte1r);
}

.leftTittleDivision .pGray {
    margin-right: 2%;
    font-size: var(--fonte1r);
}

.pSmallGray {
    color: var(--cinza);
    font-size: .8438rem;
    margin-right: 20%;
    margin-top: 5%;
    line-height: 150%;
}

.blueContent {
    background-color: var(--azul);
    ;
    color: #fff;
    border-radius: 25px;
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    margin-top: 8%;
    margin-right: 50%;
    text-align: center;
}

.grayContent {
    border-radius: 25px;
    border: solid #F5F5F5 1px;
    color: var(--azul);
    ;
    padding: 3.5%;
    margin-right: 50%;
    margin-top: 5.5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.availableIn {
    margin-top: 10%;
}

.countryLine {
    display: flex;
    margin-bottom: 1%;
}

.countrys {
    display: flex;
    margin-top: 4.5%;
}

.flag {
    padding-left: 10%;
}

.grayContent-2 {
    border-radius: 25px;
    border: solid #F5F5F5 1px;
    color: black;
    text-align: center;
    margin-top: 3.5%;
    margin-left: 18%;
    padding-top: 2%;
    padding-right: 1.5%;
    height: 20px;
}

.waterMarkLine {
    display: flex;
    margin-top: 3%;
    padding-bottom: 5%;
}

.waterMark {
    margin-top: 10%;
    margin-left: 60%;
    margin-right: 25%;
    position: absolute;
}

hr {
    margin-right: 3.25%;
    background: #EDEDED;

}

.hrLine {
    margin-top: 10%;
    opacity: 0.3;
}

.imagemSobrepondo {
    margin-top: 5%;
}

.bigImg {
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    width: 97%;
}

.partners {
    background-color: #FAFBFA;
    margin: 10% 0% 0% 0%;
    padding: 0% 5%;
}

.partners h1 {
    padding-top: 15%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 8.5%;
    text-align: center;
    font-size: 1.75rem;
}

.partnersLine {
    padding-left: 14%;
    padding-bottom: 11%;
}

.partnersImg {
    padding: 1.5%;
}

.smallBlueContent {
    background-color: var(--azul);
    ;
    color: #fff;
    border-radius: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 50%;
    margin-top: 12%;
    text-align: center;
    width: 39.5%;

}

.tittleLeftArticle {
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 2.25rem;
}

.subtittleLeftArticle {
    font-size: var(--fonte1r);
    color: var(--cinza);
    margin-right: 5%;
    line-height: 26px;
}

.articles {
    margin-top: 12.5%;
    align-content: center;
    margin-right: 3.5%;

}

.tittleArticle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hrArticle {
    margin: 17.5px 0;
    opacity: 0.2;
}

/* SEÇÃO PRETA */
/* cima direita baixo esquerda */

.section-black {
    background-color: #1A1A1A;
    margin-top: 10%;
    padding: 13.5% 5.5% 13.5% 5.5%;
}

.tittleBlackSection {
    font-size: 2.25rem;
    color: #fff;
    margin-bottom: 10%;
}

.subtittleBlackSection {
    color: var(--cinza);
    font-size: var(--fonte1r);
    line-height: 162.5%;
    margin-right: 5%;
}

.blackArticle .subtittleBlackSection {
    margin-right: 0%;
}

.blackArticles {
    margin-top: 15%;
}

.blackArticle {
    border-radius: 16px;
    background: #212121;
    padding: 8%;
    margin-bottom: 7%;
    z-index: 10;
}

.blackArticleTittle {
    font-size: 1.5rem;
    letter-spacing: -0.24px;
    color: #fff;
    margin: 5.5% 0;
    padding-right: 25%;
}

/* FIM DA SEÇÃO PRETA
INICIO DA SECAO DE PACOTES  */

.gray-color {
    background-color: #FAFBFA;
}

.section-gray {
    margin: 0 20px;
}

.tittlePayment {
    text-align: center;
    font-size: 2.25rem;
    letter-spacing: -0.36px;
    padding-top: 8%;
}

.subtittlePayment {
    color: var(--cinza);
    font-size: var(--fonte1r);
    text-align: center;
    line-height: 162.5%;
}

.section-gray .payment {
    margin-left: 0%;
    margin-right: 0.7%;
}

.monthlyYearly {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 1.125rem;
    line-height: 120%;
    margin-top: 10%;
    margin-bottom: 2%;
    justify-content: center;
}

.monthly {
    font-size: 1.125rem;
    line-height: 120%;
}

.yearly {
    font-size: 1.125rem;
    line-height: 120%;
    margin-left: 7.5%;
}

.moreSmallBlueContent {
    background-color: var(--azul);
    ;
    text-align: center;
    border-radius: 6.25rem;
    padding: 2% 0%;
    color: white;
    margin: 1% 38% 11% 38%;
    font-size: .875rem;
}

.arrow {
    margin: 1% 38% 0% 62%;
    width: 33.133px;
    height: 40.194px;
    position: absolute;
}


.grayBorder {
    border: 1px solid #EDEDED;
    background-color: #FFF;
    padding: 40px 24px;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 10%;
}

.grayBorder .grayBorderIcon {
    border-radius: 100px;
    background-color: #F5F5F5;
    display: flex;
    width: 20px;
    height: 20px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 4.5%;
}

.grayBorder .packageTittle {
    font-size: 1.375rem;
    margin-bottom: 3.5%;
    color: black;
}

.grayBorder .packageSubtittle {
    color: var(--cinza);
    font-size: .9688rem;
    margin-bottom: 7.5%;
}

.sameLine {
    display: flex;
    align-items: baseline;
    margin-bottom: 5%;
}

.price {
    font-size: 3.125rem;
    margin-right: 6%;
}

.grayBorder .pricePeriod {
    color: var(--cinza);
    font-size: var(--fonte1r);
}

.packageList {
    font-size: var(--fonte1r);
    line-height: 150%;
    margin-bottom: 5%;
}

.sameLine2 {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.sameLine2 img {
    margin-right: 2%;
}

.sameLine2 h6 {
    font-size: .9375rem;
}

.grayBorder .borderButton {
    text-align: center;
    border: solid 1px #EDEDED;
    border-radius: 100px;
    padding: 5% 2.5%;
    margin: 10% 20% 0% 20%;
}

.blueBorder {
    border: 1px solid #EDEDED;
    background-color: var(--azul);
    ;
    border-radius: 16px;
    padding: 40px 24px;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 10%;
}

.blueBorder .grayBorderIcon {
    border-radius: 100px;
    background-color: #fff;
    display: flex;
    height: 20px;
    padding: 8px;
    justify-content: center;
    align-items: center;

}

.blueBorder .packageTittle {
    font-size: 1.375rem;
    margin-bottom: 3.5%;
}

.blueBorder .packageSubtittle {
    font-size: .9688rem;
    margin-bottom: 7.5%;
}

.blueBorder {
    color: #FFF;
}

.blueBorder .borderButton {
    color: black;
    text-align: center;
    background-color: #FFF;
    border-radius: 100px;
    padding: 5% 2.5%;
    margin: 10% 20% 0% 20%;
}

.icon2 {
    display: flex;
    color: black;
    justify-content: space-between;
    margin-bottom: 4.5%;
}

.secundaryIcon {
    border-radius: 100px;
    background-color: #fff;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    margin-left: 55%;
}

/* comment */

.comment {
    margin-top: 30%;
    margin: 0% 5%;
}

.comment h3 {
    font-size: 2rem;
    margin-bottom: 5%;
    line-height: 120%;
    letter-spacing: -0.32px;
}

.comment .pGray {
    margin-right: 2%;
}

.commentAspas {
    display: flex;
    margin-top: 7.5%;
}

.commentAspas h4 {
    font-size: 1.5rem;
    margin-left: 3%;
    margin-right: 10%;
}

.commentSubtittle {
    font-size: var(--fonte1r);
    color: var(--cinza);
    margin-left: 13.6%;
    margin-right: 5%;
    margin-top: 7%;
}

.commentedPerfil {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    margin-top: 8%;
    margin-left: 2%;
}

.commentedPerfilInside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}

.commentedPerfil img {
    border-radius: 100px;
}

.commentedPerfilInside h5 {
    font-size: var(--fonte1r);
}

.commentedPerfilInside p {
    color: var(--cinza);
}

.doubleArrows {
    display: flex;
    align-items: center;
    margin-top: 10%;
    margin-left: 42.5%;
    gap: 24px;
}

footer {
    background-color: #1D1E25;
    color: #FFF;
    padding-top: 3%;
    margin-top: 12%;
    padding-bottom: 10%;
}

.footerImg {
    margin: 10% 5%;
    background-image: url(/style/img/imagemFooter.png);
    padding: 10% 2%;
    background-size: cover;
}

footer .borderButton {
    text-align: center;
    border: solid 1px #EDEDED;
    border-radius: 100px;
    padding: 5% 2.5%;
    margin: 10% 20% 20% 20%;
    background-color: #FFFFFF;
    color: black;
}

.footerImg h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 8%;
}

.footerImg P {
    font-size: var(--fonte1r);
    text-align: center;
    padding: 0 2%;
}

.blackLogo {
    margin: 20% 0% 5% 5%
}

.socialMedia {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    gap: 5%;
}

.pMargin {
    margin: 0 5%;
}

footer hr {
    margin: 10% 4%;
    border: solid 1px var(--cinza);
}

.socialMedia {
    margin: 0 25%;
}

.term {
    font-size: .875rem;
    line-height: 150%;
    display: flex;
    justify-content: space-around;
    margin: 5% 10%;
}

.copyright {
    font-size: .875rem;
    text-align: center;
}

.countryLine-2 {
    display: none;
}

/* DESKTOP */

.pDesktop {
    display: none;
}

.headerDesktop {
    display: none;
}

.bigImgDesktop {
    display: none;
}

.partnersLineDesktop {
    display: none;
}

.doubleArrowsDesktop {
    display: none;
}

.footerRight {
    display: none;
}

.waterMarkLineDesktop {
    display: none;
}

.elipseGreen {
    display: none;
}

.elipseBlue {
    display: none;
}

.elipseYellow {
    display: none;
}

@media (min-width: 900px) {

    * {
        margin: 0%;
    }

    .hrLine {
        margin-top: 3.5%;

    }

    .waterMarkLine {
        display: none;
    }

    .waterMarkLineDesktop {
        display: block;
        padding: 0%;
        margin: 0%;
        padding-left: 50%;
    }

    .pDesktop {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .pMobile {
        display: none;
    }

    .headerTop {
        padding: 0.5% 0%;
    }

    .contact {
        white-space: nowrap;
    }

    .headerDesktop {
        display: flex;
        margin-top: 2%;
        justify-content: space-between;
    }

    .headerDesktopMenu {
        display: flex;
        align-items: center;
        gap: 10%;
        margin-left: 5%;
        font-size: var(--fonte1r);
    }

    .headerDesktop .blueContent {
        padding: 0% 3%;
        border-radius: 100px;
        margin: 0% 3.5% 0% 0%;
        text-align: center;
        align-content: center;
        justify-content: center;
    }

    .logo {
        display: none;
    }

    .expansiveMenuIcon {
        display: none;
    }

    .mainTittle {
        font-size: 4.625rem;
        text-transform: uppercase;
        padding-bottom: 7.5%;
    }

    span {
        text-decoration: underline;
    }

    .leftTittleDivision .pGray {
        font-size: 1.125rem;
        padding-right: 20%;
        line-height: 32px;
        margin-bottom: 4.5%;
    }

    .tittleDivision {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .twoContents {
        display: flex;
        white-space: nowrap;
        width: 100px;
    }

    .twoContents .blueContent {
        padding: 14% 15%;
    }

    .twoContents .grayContent {
        padding: 14% 15%;
        align-content: center;
    }

    .countryFlags {
        display: none;
        margin: 0%;
    }

    .leftTittleDivision {
        width: 60%;
    }

    .rightTittleDivision {
        padding-top: 4%;
        margin: 0%;
        width: 40%;
    }

    .countrys {
        display: none;
    }

    .countryLine-2 {
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-top: 25%;
        margin-right: 5%;
        justify-content: end;
        align-items: end;
    }

    .countrys-2 {
        margin-left: 3.5%;
    }

    .countryLine-2 .grayContent-2 {
        text-align: center;
        align-items: center;
        padding: 1.5% 1% 1% 0.5%;
        font-size: 1.25rem;
    }


    .rightTittleDivision .pGray {
        font-size: 1.125rem;
        line-height: 32px;
        margin-bottom: 4.5%;
        padding-top: 7.5%;
        padding-left: 0%;
    }

    .marcaDaguaDesktop {
        display: flex;
    }

    .bigImg {
        display: none;
    }

    .bigImgDesktop {
        display: flex;
        position: relative;
        border-radius: 13.5px;
        width: 97%;
    }

    .partnersLineDesktop {
        display: flex;
        justify-content: center;
        padding-bottom: 5%;
        gap: 2%;
    }

    .partnersLine {
        display: none;
    }

    .partners h1 {
        font-size: 2.5rem;
        padding: 7% 0% 5% 0%;
    }

    .articleDivision {
        display: flex;
        margin: 0%;
        padding: 0%;
    }

    .leftArticleDivision {
        max-width: 40%;
    }

    .leftArticleDivision h1 {
        font-size: 3.5rem;
    }

    .leftArticleDivision p {
        font-size: 1.125rem;
        margin-right: 15%;
    }

    .smallBlueContent {
        font-size: var(--fonte1r);
        padding: 3.5% 0%;
        max-width: 27.5%;
    }

    .section-margin .articles {
        margin-top: 6%;
        margin-left: 10%;
        max-width: 100%;
    }

    .section-margin .articles h4 {
        font-size: 1.5rem;
        margin: 1% 0%;
    }

    .section-margin .articles p {
        font-size: 1.125rem;
        margin: 3% 27.5% 0% 0%;
    }

    .section-black h1 {
        font-size: 3.5rem;
        margin-right: 15%;
        margin-bottom: 4.5%;
    }

    .subtittleBlackSection {
        font-size: var(--fonte1r);
        line-height: 162.5%;
    }


    .blackArticlesDeskLeft {
        display: flex;
        gap: 2.75%;
    }

    .blackArticles {
        margin-top: 6.5%;
    }

    .blackArticle {
        padding: 2% 2.5% 2% 2%;
        max-width: 37%;
        margin-bottom: 2.75%;
    }

    .blackArticleTittle {
        margin: 3.5% 29% 3.5% 0%;
    }

    .beforeBlackSection p {
        margin-right: 34%;
        font-size: 1.125rem;
    }

    .tittlePayment {
        font-size: 3.5rem;
        margin: 0% 0% 2.35% 0%;
    }

    .subtittlePayment {
        font-size: 1.125rem;
        margin: 0% 24%;
    }

    .monthlyYearly {
        margin: 3% 0% 0% 0%;
        justify-content: center;
        font-size: 1.125rem;
    }

    .yearly {
        margin: 0%;
        padding-left: 2%;
    }

    .moreSmallBlueContent {
        margin: 0%;
        margin-bottom: 7.5%;
        justify-content: center;
        max-width: 80px;
        padding: 0%;
        padding: 0.5% 0%;
        font-size: .875rem;
        margin: 1.25% 46.75% 3.5% 46.75%
    }

    .arrow {
        margin: 1% 40% 0% 53%;
        width: 33.133px;
        height: 40.194px;
        position: absolute;
    }

    .package3Desktop {
        display: flex;
        justify-content: center;
        gap: 2%;
    }

    .blueBorder {
        width: 26%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .grayBorder {
        width: 26%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .comment {
        margin: 0%;
    }

    .comment h3 {
        margin: 0%;
    }

    .commentDesktop {
        display: flex;
        justify-content: space-between;
        margin: 6.5% 5% 0% 5%;
    }

    .commentDesktop h3 {
        font-size: 3.5rem;
        width: 50%;
    }

    .commentDesktop .pGray {
        width: 30%;
    }

    .comment .commentDesktop p {
        font-size: var(--fonte1r);
    }

    .commentAspas {
        margin-left: 12.5%;
        width: 36%;
        gap: 5%;
    }

    .commentAspas h4 {
        margin: 0%;
        font-size: 1.5rem;
    }

    .commentSubtittle {
        margin: 2% 22.9% 0% 16.75%;
        font-size: 1.5rem;

    }

    .commentedPerfilDesktop {
        display: flex;
        margin: 0% 27% 0% 16%;
        justify-content: space-between;
        align-items: baseline;
    }

    .doubleArrows {
        display: none;
    }

    .doubleArrowsDesktop {
        display: flex;
        gap: 35%;
        align-items: center;
    }

    .footerImg {
        background-image: url(/style/img/imagemFooterDesktop\ .png);
        margin: 5% 5%;
        background-size: cover;
        padding: 4% 0% 4% 0%;
        border-radius: 10px;
    }

    .footerImg h1 {
        font-size: 3.5rem;
        text-align: center;
        margin: 3.25% 5%;
    }

    footer .borderButton {
        padding: 0%;
        align-items: center;
        margin: 5% 42% 0% 42%;
        padding: 1% 0%;
    }

    footer hr {
        margin: 2.5% 5% 0% 5%;
    }

    .socialMedia {
        gap: 30%;
        justify-content: left;
        margin: 0%;
    }

    .term {
        justify-content: left;
        gap: 20%;
        margin-left: 12.5%;
        white-space: nowrap;
    }

    .socialMediaDesktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0% 5%;
    }

    .copyright {
        text-align: end;
        margin-left: 30%;
    }

    footer {
        padding-bottom: 0%;
    }

    .footerDesktop {
        display: flex;
        margin: 0% 5%;
        justify-content: space-between;

    }

    .footerLeft img {
        margin: 0%;
    }

    .footerLeft .pMargin {
        margin: 15% 0% 0% 0%;
    }

    .footerLeft {
        width: 29%;
    }

    .footerRight {
        display: flex;
        width: 50%;
        gap: 20%;
        white-space: nowrap;
        align-items: end;
        justify-content: end;
    }

    .column {
        line-height: 250%;
    }

    .column p {
        font-size: .875rem;
        color: var(--cinza);
    }

    .column h6 {
        font-size: .875rem;
        color: white;
        margin-bottom: 10%;
    }

    .partnersImgDesktop {
        width: 17%;
    }

}

@media (min-width: 1920px) {

    .headerDesktopMenu {
        font-size: 1.375rem;
    }

    .pDesktop {
        font-size: .75rem;
    }

    .grayBorder {
        width: 22%;
    }

    .blueBorder {
        width: 20%;
    }

}

@media (min-width: 1920px) and (max-width: 1920px) {
    .elipseGreen {
        display: flex;
        height: 75px;
        position: absolute;
        top: 4780px;
        left: 250px;
        z-index: 1;
    }

    .elipseBlue {
        display: flex;
        height: 90px;
        position: absolute;
        top: 3650px;
        left: 75px;
        z-index: 1;
    }

    .elipseYellow {
        display: flex;
        height: 90px;
        position: absolute;
        top: 4160px;
        left: 1530px;
        z-index: 1;
    }
}

@media (min-width: 1440px) and (max-width: 1440px) {
    .elipseGreen {
        display: flex;
        height: 75px;
        position: absolute;
        top: 4045px;
        left: 100px;
        z-index: 1;
    }

    .elipseBlue {
        display: flex;
        height: 90px;
        position: absolute;
        top: 3080px;
        left: 50px;
        z-index: 1;
    }

    .elipseYellow {
        display: flex;
        height: 90px;
        position: absolute;
        top: 3570px;
        left: 1150px;
        z-index: 1;
    }
}