@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.headerAzul {
    background-color: #0258F8;
    color: #fff;
    font-size: 12px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: center;
}

.imagemHeader {
    display: flex;
    padding-left: 5%;
}

.barras4 {
    margin-left: 55%;
    margin-top: 3.5%;
}

.SecaoComMargem {
    padding: 0%;
    margin-left: 5%;
    margin-right: 2.5%;
}

.titulo1 {
    padding-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 205%;
}

.pCinza {
    color: #7E8492;
    font-size: 15px;
}

.parteEsquerda .pCinza {
    margin-right: 2%;
    font-size: 16px;
}

.pCinzaMenor {
    color: #7E8492;
    font-size: 13.5px;
    margin-right: 20%;
}

.retanguloCircularAzul {
    background-color: #0258F8;
    color: #fff;
    border-radius: 25px;
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    margin-top: 8%;
    margin-right: 50%;
    text-align: center;
}

.retanguloCircularCinza {
    border-radius: 25px;
    border: solid #F5F5F5 1px;
    color: #0258F8;
    padding: 3.5%;
    margin-right: 50%;
    margin-top: 5.5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.disponivelEm {
    margin-top: 10%;
}

.linhaPaises {
    display: flex;
}

.paises {
    display: flex;
    margin-top: 4.5%;
}

.pais {
    padding-left: 10%;
}

.retanguloCircularCinza2 {
    border-radius: 25px;
    border: solid #F5F5F5 1px;
    color: black;
    text-align: center;
    margin-top: 3.5%;
    margin-left: 18%;
    padding-top: 2%;
    padding-right: 1.5%;
    height: 20px;
}

.linhaMarcaDagua {
    display: flex;
    margin-top: 3%;
    padding-bottom: 5%;
}

.marcaDagua {
    margin-top: 10%;
    margin-left: 65%;
    position: absolute;
}

hr {
    margin-right: 5%;
    background: #EDEDED;

}

.linha {
    margin-top: 10%;
    opacity: 0.3;
}

.imagemSobrepondo {
    margin-top: 5%;
}

.imagemMaior {
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 10px;
}

.imagemMenor {
    position: absolute;
    top: 740px;
    left: 27px;
}

.parcerias {
    background-color: #FAFBFA;
    margin-top: 10%;
}

.parcerias h1 {
    padding-top: 15%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 8.5%;
    text-align: center;
    font-size: 28px;
}

.parceiriaLinha {
    padding-left: 14%;
    padding-bottom: 11%;
}

.imgParceria {
    padding: 1.5%;
}

.retanguloCircularAzulMenor {
    background-color: #0258F8;
    color: #fff;
    border-radius: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 50%;
    margin-top: 12%;
    text-align: center;
    width: 39.5%;

}

.tituloAntesArtigos {
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 32px;
}

.artigos {
    margin-top: 12.5%;
    align-content: center;
    margin-right: 3.5%;

}

.tituloArtigo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linhaArtigo {
    margin: 17.5px 0;
    opacity: 0.2;
}

/* SEÇÃO PRETA */
/* cima direita baixo esquerda */

.SecaoPreta {
    background-color: #1A1A1A;
    margin-top: 10%;
    padding: 13.5% 5.5% 13.5% 5.5%;
}

.tituloSecaoPreta {
    font-size: 36px;
    color: #fff;
    margin-bottom: 10%;
}

.subtituloSecaoPreta {
    color: #7E8492;
    font-size: 16px;
    line-height: 162.5%;
}

.ArtigosPretos {
    margin-top: 15%;
}

.ArtigoPreto {
    border-radius: 16px;
    background: #212121;
    padding: 8%;
    margin-bottom: 7%;
}

.tituloDoArtigoPreto {
    font-size: 24px;
    letter-spacing: -0.24px;
    color: #fff;
    margin: 5.5% 0;
    padding-right: 25%;
}

/* FIM DA SEÇÃO PRETA
INICIO DA SECAO DE PACOTES  */

.SecaoPacotes {
    margin: 0 20px;
}

.tituloPacotes {
    text-align: center;
    font-size: 36px;
    letter-spacing: -0.36px;
    margin-bottom: 8%;
    padding-top: 8%;
}

.subtituloPacotes {
    color: #7E8492;
    font-size: 16px;
    text-align: center;
    line-height: 162.5%;
}

.SecaoPacotes .opcaoPagamento {
    margin-left: 0%;
    margin-right: 0.7%;
}

.opcaoMensalAnual {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    line-height: 120%;
    margin-top: 10%;
    margin-bottom: 2%;
    justify-content: center;
}

.mensal {
    font-size: 18px;
    line-height: 120%;
}

.anual {
    font-size: 18px;
    line-height: 120%;
    margin-left: 7.5%;
}

.retanguloCircularAzulMuitoMenor {
    margin: 0%;
    margin-bottom: 7.5%;
    justify-content: center;
    max-width: 100px;
    padding: 0%;
    padding: 2% 1%;
    font-size: 14px;
    margin: 1.25% 41% 15% 41%;
    background-color: #0258F8;
    border-radius: 100px;
    color: #FFF;
    text-align: center;
}

.flecha {
    margin: 1% 38% 0% 62%;
    width: 33.133px;
    height: 40.194px;
    position: absolute;
}

.corDiferente {
    background-color: #FAFBFA;
}

.bordaCinza {
    border: 1px solid #EDEDED;
    background-color: #FFF;
    padding: 40px 24px;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 10%;
}

.bordaCinza .iconeBordaCinza {
    border-radius: 100px;
    background-color: #F5F5F5;
    display: flex;
    width: 20px;
    height: 20px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 4.5%;
}

.bordaCinza .tituloDosPacotes {
    font-size: 22px;
    margin-bottom: 3.5%;
    color: black;
}

.bordaCinza .subtituloDosPacotes {
    color: #7E8492;
    font-size: 15.5px;
    margin-bottom: 7.5%;
}

.mesmaLinha {
    display: flex;
    align-items: baseline;
    margin-bottom: 5%;
}

.preco {
    font-size: 50px;
    margin-right: 6%;
}

.bordaCinza .periodoPreco {
    color: #7E8492;
    font-size: 16px;
}

.listaPacotes {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 5%;
}

.mesmaLinha2 {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.mesmaLinha2 img {
    margin-right: 2%;
}

.mesmaLinha2 h6 {
    font-size: 15px;
}

.bordaCinza .botaoBorda {
    text-align: center;
    border: solid 1px #EDEDED;
    border-radius: 100px;
    padding: 5% 2.5%;
    margin: 10% 20% 0% 20%;
}

.bordaAzul {
    border: 1px solid #EDEDED;
    background-color: #0258F8;
    border-radius: 16px;
    padding: 40px 24px;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 10%;
}

.bordaAzul .iconeBordaCinza {
    border-radius: 100px;
    background-color: #fff;
    display: flex;
    height: 20px;
    padding: 8px;
    justify-content: center;
    align-items: center;

}

.bordaAzul .tituloDosPacotes {
    font-size: 22px;
    margin-bottom: 3.5%;
}

.bordaAzul .subtituloDosPacotes {
    font-size: 15.5px;
    margin-bottom: 7.5%;
}

.bordaAzul {
    color: #FFF;
}

.bordaAzul .botaoBorda {
    color: black;
    text-align: center;
    background-color: #FFF;
    border-radius: 100px;
    padding: 5% 2.5%;
    margin: 10% 20% 0% 20%;
}

.icones2 {
    display: flex;
    color: black;
    justify-content: space-between;
    margin-bottom: 4.5%;
}

.iconeSecundario {
    border-radius: 100px;
    background-color: #fff;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    margin-left: 55%;
}

/* comentario */

.comentario {
    margin-top: 30%;
}

.comentario h3 {
    font-size: 32px;
    margin-bottom: 5%;
    line-height: 120%;
    letter-spacing: -0.32px;
}

.aspasComentario {
    display: flex;
    margin-top: 7.5%;
}

.aspasComentario h4 {
    font-size: 24px;
    margin-left: 3%;
    margin-right: 10%;
}

.subtituloComentario {
    font-size: 16px;
    color: #7E8492;
    margin-left: 13.6%;
    margin-right: 5%;
    margin-top: 7%;
}

.perfilComentado {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    margin-top: 8%;
    margin-left: 2%;
}

.perfilComentadoDentro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}

.perfilComentado img {
    border-radius: 100px;
}

.perfilComentadoDentro h5 {
    font-size: 16px;
}

.perfilComentadoDentro p {
    color: #7E8492;
}

.setasDuplas {
    display: flex;
    align-items: center;
    margin-top: 10%;
    margin-left: 42.5%;
    gap: 24px;
}

footer {
    background-color: #1D1E25;
    color: #FFF;
    padding-top: 3%;
    margin-top: 12%;
    padding-bottom: 10%;
}

.imagemFooter {
    margin: 10% 5%;
    background-image: url(/style/img/imagemFooter.png);
    padding: 10% 2%;
    background-size: cover;
}

footer .botaoBorda {
    text-align: center;
    border: solid 1px #EDEDED;
    border-radius: 100px;
    padding: 5% 2.5%;
    margin: 10% 20% 20% 20%;
    background-color: #FFFFFF;
    color: black;
}

.imagemFooter h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 8%;
}

.imagemFooter P {
    font-size: 16px;
    text-align: center;
    padding: 0 2%;
}

.logoPreto {
    margin: 20% 0% 5% 5%
}

.redesSociais {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    gap: 5%;
}

.pMargem {
    margin: 0 5%;
}

footer hr {
    margin: 10% 4%;
    border: solid 1px #7E8492;
}

.redesSociais {
    margin: 0 25%;
}

.termos {
    font-size: 14px;
    line-height: 150%;
    display: flex;
    justify-content: space-around;
    margin: 5% 10%;
}

.copyright {
    font-size: 14px;
    text-align: center;
}

.paises-2 {
    display: none;
}

/* DESKTOP */

.pDesktop {
    display: none;
}

.headerDesktop {
    display: none;
}

.imagemMaiorDesktop {
    display: none;
}

.imagemMenorDesktop {
    display: none;
}

.parceiriaLinhaDesktop {
    display: none;
}

.setasDuplasDesktop {
    display: none;
}

.footerDir {
    display: none;
}

@media (min-width: 900px) {

    * {
        margin: 0%;
    }

    .pDesktop {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .pCelular {
        display: none;
    }

    .headerAzul {
        padding: 0.5% 0%;
    }

    .Contato {
        white-space: nowrap;
    }

    .headerDesktop {
        display: flex;
        margin-top: 2%;
    }

    .headerDesktopDiv1 {
        display: flex;
        align-items: center;
        gap: 10%;
        margin-left: 5%;
        font-size: 16px;
    }

    .headerDesktop .retanguloCircularAzul {
        padding: 0% 3%;
        border-radius: 100px;
        margin: 0% 1% 0% 50%;
        text-align: center;
        align-content: center;
        justify-content: center;
    }

    .logo {
        display: none;
    }

    .barras4 {
        display: none;
    }

    .titulo1 {
        font-size: 74px;
        text-transform: uppercase;
        padding-bottom: 2%;
        padding-top: 5%;
    }

    span {
        text-decoration: underline;
    }

    .parteEsquerda .pCinza {
        font-size: 18px;
        padding-right: 20%;
        line-height: 32px;
        margin-bottom: 4.5%;
    }

    .imagemMenor {
        display: none;
    }

    .duasPartes {
        display: flex;
    }

    .retangulos2 {
        display: flex;
        white-space: nowrap;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 20%;
        margin-right: 65%;
    }

    .retangulos2 .retanguloCircularAzul {
        padding: 14% 15%;
    }

    .retangulos2 .retanguloCircularCinza {
        padding: 14% 15%;
        align-content: center;
    }

    .paisesTotal {
        display: none;
        margin: 0%;
    }

    .paises-2 {
        display: flex;
        margin-top: 4.5%;
    }

    .parteEsquerda {
        max-width: 800px;
    }

    .parteDireita {
        padding-top: 4%;
        margin: 0%;
        width: 800px;
    }

    .paises {
        display: none;
    }

    .paises-2 {
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-top: 30%;
    }

    .paises-2 h4 {
        padding-bottom: 10%;
    }

    .imgPaises2 {
        margin-left: 3.5%;
    }

    .paises-2 .retanguloCircularCinza2 {
        margin-bottom: 4.5%;
        text-align: center;
        align-items: center;
        padding: 1.5% 1% 1% 0.5%;
        font-size: 20px;
    }


    .parteDireita .pCinza {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 4.5%;
        padding-top: 7.5%;
        padding-left: 30%;
    }

    .marcaDagua {
        left: 6.5%;
        height: 72px;
        width: 72px;
    }

    .imagemMaior {
        display: none;
    }

    .imagemMaiorDesktop {
        display: flex;
        position: relative;
        border-radius: 13.5px;
    }

    .imagemMenor {
        display: none;
    }

    .imagemMenorDesktop {
        display: flex;
        position: absolute;
        top: 1235px;
        left: 115px;
    }

    .parceiriaLinhaDesktop {
        display: flex;
        justify-content: center;
        padding-bottom: 5%;
        gap: 2%;
    }

    .parceiriaLinha {
        display: none;
    }

    .parcerias h1 {
        font-size: 40px;
        padding: 7% 0% 5% 0%;
    }

    .SecaoArtigosDesktop {
        display: flex;
        margin: 0%;
        padding: 0%;
    }

    .ArtigosDesktopEsq {
        max-width: 40%;
    }

    .ArtigosDesktopEsq h1 {
        font-size: 56px;
    }

    .ArtigosDesktopEsq p {
        font-size: 18px;
        margin-right: 15%;
    }

    .retanguloCircularAzulMenor {
        font-size: 16px;
        padding: 3.5% 0%;
        max-width: 27.5%;
    }

    .SecaoComMargem .artigos {
        margin-top: 6%;
        margin-left: 10%;
        max-width: 100%;
    }

    .SecaoComMargem .artigos h4 {
        font-size: 24px;
        margin: 1% 0%;
    }

    .SecaoComMargem .artigos p {
        font-size: 18px;
        margin: 3% 27.5% 0% 0%;
    }

    .SecaoPreta h1 {
        font-size: 56px;
        margin-right: 15%;
        margin-bottom: 4.5%;
    }

    .subtituloSecaoPreta {
        font-size: 18px;
        margin-right: 33.5%;

    }


    .ArtigoPretoDeskEsq {
        display: flex;
        gap: 2.75%;
    }

    .ArtigosPretos {
        margin-top: 6.5%;
    }

    .ArtigoPreto {
        padding: 2% 2.5% 2% 2%;
        max-width: 37%;

        margin-bottom: 2.75%;
    }

    .tituloDoArtigoPreto {
        margin: 3.5% 29% 3.5% 0%;
    }

    .subtituloSecaoPreta {
        margin-right: 0%;
        font-size: 16px;
        line-height: 162.5%;
    }

    .antesArtigosPretos p {
        margin-right: 34%;
        font-size: 18px;
    }

    .tituloPacotes {
        font-size: 56px;
        margin-bottom: 2.35%;
    }

    .subtituloPacotes {
        font-size: 18px;
        margin: 0% 24%;
    }

    .opcaoMensalAnual {
        margin: 3% 0% 0% 0%;
        justify-content: center;
        font-size: 18px
    }

    .anual {
        margin: 0%;
        padding-left: 2%;
    }

    .retanguloCircularAzulMuitoMenor {
        margin: 0%;
        margin-bottom: 7.5%;
        justify-content: center;
        max-width: 80px;
        padding: 0%;
        padding: 0.5% 0%;
        font-size: 14px;
        margin: 1.25% 46.75% 3.5% 46.75%
    }

    .flecha {
        margin: 1% 40% 0% 53%;
        width: 33.133px;
        height: 40.194px;

    }

    .pacotes3Desktop {
        display: flex;
        justify-content: center;
        gap: 2%;
    }

    .bordaAzul {
        width: 26%;
    }

    .bordaCinza {
        width: 26%;
    }

    .comentario {
        margin: 0%;
    }

    .comentario h3 {
        margin: 0%;
    }

    .comentarioDesktop {
        display: flex;
        justify-content: space-between;
        margin: 6.5% 5% 0% 5%;
    }

    .comentarioDesktop h3 {
        font-size: 56px;
        width: 50%;
    }

    .comentarioDesktop .pCinza {
        width: 30%;
    }

    .comentario .comentarioDesktop p {
        font-size: 16px;
    }

    .aspasComentario {
        margin-left: 12.5%;
        width: 36%;
        gap: 5%;
    }

    .aspasComentario h4 {
        margin: 0%;
        font-size: 24px;
    }

    .subtituloComentario {
        margin: 2% 22.9% 0% 16.75%;
        font-size: 24px;

    }

    .perfilComentadoDesktop {
        display: flex;
        margin: 0% 27% 0% 16%;
        justify-content: space-between;
        align-items: baseline;
    }


    .setasDuplas {
        display: none;
    }

    .setasDuplasDesktop {
        display: flex;
        gap: 35%;
        align-items: center;
    }

    .imagemFooter {
        background-image: url(/style/img/imagemFooterDesktop\ .png);
        margin: 5% 5%;
        background-size: cover;
        padding: 4% 0% 4% 0%;
        border-radius: 10px;
    }

    .imagemFooter h1 {
        font-size: 56px;
        text-align: center;
        margin: 3.25% 5%;
    }

    footer .botaoBorda {
        padding: 0%;
        align-items: center;
        margin: 5% 42% 0% 42%;
        padding: 1% 0%;
    }

    footer hr {
        margin: 5% 5% 0% 5%;
    }

    .redesSociais {
        gap: 30%;
        justify-content: left;
        margin: 0%;
    }

    .termos {
        justify-content: left;
        gap: 20%;
        margin-left: 12.5%;
        white-space: nowrap;
    }

    .redesSociaisDesktop {
        display: flex;
        align-items: center;
        margin: 0% 5%;
    }

    .copyright {
        text-align: end;
        margin-left: 27.5%;
    }

    footer {
        padding-bottom: 0%;
    }

    .footerDesktop {
        display: flex;
        margin: 0% 5%;
        justify-content: space-between;
    }

    .footerEsq img {
        margin: 0%;
    }

    .footerEsq .pMargem {
        margin: 15% 0% 0% 0%;
    }

    .footerEsq {
        width: 29%;
    }

    .footerDir {
        display: flex;
        width: 50%;
        gap: 20%;
    }

    .coluna {
        line-height: 250%;
    }

    .coluna p {
        font-size: 14px;
        color: #7E8492;
    }

    .coluna h6 {
        font-size: 14px;
        color: white;
        margin-bottom: 10%;
    }






}

@media (min-width: 1920px) {

    .headerDesktopDiv1 {
        font-size: 22px;
    }

    .pDesktop {
        font-size: 12px;
    }
}